@font-face{
    font-family: 'monomon';
    src: url('fonts/monomon.ttf');
}

@font-face{
    font-family: 'BoonTook';
    src: url('fonts/BoonTook-Mon-Ultra.ttf');
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;    
}
